* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Inter';
  }
  body::-webkit-scrollbar{
    display: none;
  }
  #icon-slider {
    display: flex;
    justify-content: center;
    width: 5px;
    height: 100%;
    background-color: rgb(0, 31, 96);
  }
  #icon-slider-thumb {
    border-radius: 5px;
    transition: 500ms;
    width: 2px;
    height: 44px;
    background-color: rgb(0, 31, 96);
  }
  #filter-div {
    position: fixed;
    bottom: 5px;
  }
  .svg-div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: fit-content;
    color: white;
    text-align: center;
    word-break: break-all;
  }
  .svg-p {
    display: none;
  }
  /* #left-icon-bar::-webkit-scrollbar {
    width: 1px;
  } */
  
  #right-all {
    display: flex;
    margin-left: 80px;
    width: 95%;
  }
  #left-subbar {
    position: fixed;
    transition: 400ms;
    color: white;
    display: flex;
    /* overflow-y: scroll; */
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: left;
    width: 216px;
    height: 100%;
    background-color: rgb(78, 109, 203);
    transition-timing-function: linear;
  }
  #left-subbar::-webkit-scrollbar{
    display: none;
  }
  #left-subbar-up-content {
    padding: 5px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: small;
  }
  #brand-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #brand-name a {
    font-size: medium;
    color: white;
    text-align: center;
  }
  #o-management-para {
    margin-bottom: 10px;
  }
  #Right-content {
    /* border: 1px solid blue; */
    margin-left: 216px;
    transform-origin: center;
    transition: 400ms;
    transition-timing-function: linear;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #nav {
    align-items: center;
    background-color: rgba(245, 245, 245, 0.288);
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    height: 50px;
  }
  #input {
    gap: 30px;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid rgba(116, 114, 114, 0.112);
  }
  #nav-input-search {
    border: none;
    background-color: transparent;
  }

  #nav-input-search a {
    color: #000000;
    font-weight: bold;
    font-family: 'Inter';
    cursor: pointer;
  }
  #input input {
    height: 33px;
    width: 220px;
    background-color: transparent;
    border: none;
  }
  #input input::placeholder {
    font-size: 13px;
    color: #A0A0A0;
    font-family: 'Inter';
  }
  .addBtn {
    padding: 7px 15px;
    width: 56px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid #394A7E;
  }

  #nav-buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15.83px;
    margin-right: 10px;
  }
  .nav-right-icons {
    border-radius: 50%;
    background-color: rgb(57, 74, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
  }
  
  #search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    color: #A9A9A9;
  }


  #dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: white;
  }
  .dashboard-content-list {
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px 12px;
    width: 96%;
    background-color: rgb(90, 122, 219);
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
  }
  #subbar-setting {
    position: fixed;
    /* left: 20px; */
    bottom: 5px;
    display: flex;
    gap: 8px;
    width: 216px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid white;
  }
  #subbar-setting p {
    font-size: small;
    color: white;
  }
  #slider {
    /* z-index: 1; */
    cursor: pointer;
    box-shadow: rgba(76, 154, 255, 0.427) 0px 2px 8px 0px;
    /* background-color: white; */
    color:"#000";
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: 2px;
  }
  #slider-input {
    display: flex;
    gap: 10px;
  }
  #Right-content-Down-First {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
  }
  #Right-content-Down-Filters {
    display: flex;
    font-size: small;
    gap: 10px;
    align-items: center;
  }
  #Right-content-Down-Filters input {
    width: 110px;
    padding: 7px 10px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 6px;
  }
  /* IT IS THE CODE OF SLIDER BUTTON IN RIGHT CONTENT */
  
  /* From uiverse.io by @G4b413l */
  .switch input {
    display: none;
  }
  
  .switch {
    width: 40px;
    height: 20px;
    position: relative;
  }
  
  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #777;
    border-radius: 30px;
    transform: translateX(-20px);
    /*translateX(-(w-h))*/
    transition: 0.2s;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
    /*translateX(w-h)*/
    background-color: limeGreen;
  }
  
  input:checked + .slider {
    box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
  }
  
  .switch200 .slider:before {
    width: 200%;
    transform: translateX(-82px);
    /*translateX(-(w-h))*/
  }
  
  .switch200 input:checked + .slider:before {
    background-color: red;
  }
  
  .switch200 input:checked + .slider {
    box-shadow: 0 0 0 2px red, 0 0 8px red;
  }
  #right-content-cards {
    /* border: 1px solid blue; */
    width: 96%;
    margin: auto;
    display: flex;
    gap: 16px;
    margin: 20px 30px;
  }

  #content-cards{
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction:column;
    gap: 16px;
  }

  .card {
    border-top: 9px solid #F8F8F8;;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    width: 229.81px;
    height: 260px;
    
    background-position: 35px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-up {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    height: 200px;
    gap: 10px;
    flex-direction: column;
    text-align: center;
  }
  .card-up h1 {
    font-size: 24px;
  }
  .card-up p {
    font-size: smaller;
    color: gray;
  }
  .card-up-data p {
    color: black;
    font-size: 12px;
  }
  .card-up-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    border-radius: 50%;
    height: 100px;
    width: 113.27px; 
    height: 113.46px;
    background: #FFF3A1;
  }

  .card-up-per{
    display: flex;
    align-items: center;
    margin:auto;
    border-bottom: 4px solid #20BF55;
    border-radius: 5px;
    width: 59.65px;
  }

  .card-up-per-dn{
    display: flex;
    align-items: center;
    margin:auto;
    border-bottom: 4px solid  #FF4451;
    border-radius: 5px;
    width: 59.65px;
  }

  .card-dn-p {
    padding: 10px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(255, 224, 11);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .current{
    border-top: 9px solid #F8F8F8;;
    border-radius: 10px;
    background-position: 35px 4px;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
    text-align: center;
    width: 484px;
    height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .card_details{
    display: flex;
    justify-content: space-between;
    margin: 70px;
  }

  .current h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 132%;
    padding-top: 20px;
  }

  .current_data_table{
    display: flex;
  }

  .current-table {
    border-top: 9px solid #F8F8F8;;
    border-radius: 10px;
    background-position: 35px 4px;
    text-align: left;
    /* display: flex; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 484px;
    height: 458px;
    margin-left: 20px;
    /* padding: 0 35px; */
  }

  #OMS-main-content{
    border-top: 9px solid #F8F8F8;;
    border-radius: 10px;
    background-position: 35px 4px;
    /* text-align: left; */
    /* display: flex; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .current-table table{
    width: 202px;
    /* height: 400px; */
    /* padding: 52px; */
  }

  .current-table h3{
    text-align: center;
    margin: 20px 0;
  }

  .current-table table tr{
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    /* width: 400; */
  }

  .right p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7E7E7E;
    word-break: break-all;
  }

  .Dashboard-graph-parent {
    /* margin: auto; */
    /* width: 96%; */
    display: flex;
    gap: 16px;
    margin: 0 30px;
  }

  .dashboard-graph {
    width: 50%;
    height: 330px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .supplier-box {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    width: 96%;
    margin: auto;
  }

  .supplier-box h2 {
    text-align: center;
  }

  .supplier-content-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .supplier-content-input-box {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.176);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .supplier-content-input-left {
    display: flex;
    align-items: center;
  }

  .supplier-content-input-left img {
    background-color: navy;
    padding: 5px;
    border-radius: 2px;
  }

  .supplier-content-input-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .supplier-content-input-right-filters {
    border: none;
    background-color: white;
    padding: 5px;
  }

  table th , td {
    font-size: 12px;
    padding-top: 8px;
  }

  #graph{
  background: #FFFFFF;
  border: 0.72px solid rgba(18, 18, 18, 0.16);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9.07552px;
  width: 699px;
  height: 350.41px;
  margin: 30px;
  }

  #p_graph{
    background: #FFFFFF;
    border: 0.72px solid rgba(18, 18, 18, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 9.07552px;
    width: 766.14px;
    height: 349.83px;
    margin: 30px;
  }

  #B-graph{
    background: #FFFFFF;
    border: 0.72px solid rgba(18, 18, 18, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 9.07552px;
    width: 613px;
    height: 350.41px;
    margin: 30px 0;
  }

  .graph_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
  }

  .Graph_title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  text-align: center
  }

  .graph_name{
  margin: 22px 24px;
  width: 651px;
  height: 40px;
  background: #FAFAFA;
  border-radius: 5px;
  }

  .graph_name h5{
    padding: 13px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.332176px;
  }

  .G-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 22px 24px;
    width: 560px;
    height: 40px;
    background: #FAFAFA;
    border-radius: 5px;
  }

  .P-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 22px 24px;
    width: 716.97px;
    height: 40px;
    background: #FAFAFA;
    border-radius: 5px;
  }

  .g-axis{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.289408px;
  color: #000000;

  }

  .pie-line{
    width: 32px;
    height: 0px;
    border: 5px solid #49E0D2;
    transform: rotate(-90deg);
    
  }

  .product-insights{
    text-decoration: underline;
    float: right;
    padding: 0px 24px;
  }

  .Product-table{
    width: 580px;
  }

  .Product-table tr th{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    color: #797979;
    line-height: 14.52px;
    padding: 24px;
  }

.Product-table tr td{
  text-align: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 24.52px;
}

.recharts-default-legend{
  display: none;
}
